{
  "plugins": [
    "import"
  ],
  "rules": {
    "import/order": [
      "error",
      {
        "groups": [
          "builtin", "external", "internal", "parent", "sibling", "index", "object"
        ]
      }
    ]
  },
  "extends": ["@nuxtjs/eslint-config-typescript"]
}